/* title font: https://fonts.google.com/specimen/Orbitron?categoryFilters=Appearance:%2FTheme%2FTechno
    title  color: #941b0c;

    nav font: https://fonts.google.com/specimen/Oxanium?categoryFilters=Appearance:%2FTheme%2FTechno

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main page style */

/* Header style */

.pointer {
  cursor: pointer;
}

.titlefont {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #941b0c;
}

.navfont button,
a,
p {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

header {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-bottom: 4px solid black;
}

header > nav {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  gap: 400px;
  align-items: center;
}

div > a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

nav > ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

ul > button {
  border: 0;
  background-color: white;
  height: 40px;
  cursor: pointer;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Main section style */

.mainsection {
  position: relative;
  display: flex;
  background-color: blue;
  justify-content: center;
  align-items: center;
  height: 80svh;
  border-bottom: 5px solid black;
}

.mainsection > img {
  width: 100%;
  height: 80svh;
  object-fit: cover;
  object-position: 1% 62%;
}

.insidesection {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #bc38089c;
  height: 150px;
  width: 70svw;
  z-index: 2;
  border-radius: 10px;
  padding: 20px;
}

.insidesection > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 150px;
}

.insidesection > nav > div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 15px;
  align-items: start;
  padding: 15px;
}

.insidesection > nav > div > p {
  cursor: pointer;
}

.insidesection > nav > div:hover {
  background-color: #22090139;
  cursor: pointer;
}

.insidesection > nav > div > button {
  width: 120px;
  background: none;
  border: none;
}

.insidesection > nav > div > input {
  background: none;
  border: none;
}

.insidesection > nav > div > input::placeholder {
  color: #ffffff95;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.insidesection > nav > div > input:focus {
  background: none;
  border: none;
  outline: none;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8b2315;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

#search img {
  filter: brightness(0) invert(1);
  cursor: pointer;
}

#search:hover {
  background-color: #711c11;
  cursor: pointer;
}

/* Offers section style */

.offerssection {
}

/* LogInPageStyle */
